<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @client.name %></h1>
    <p>
      This mail just only reminder the approaching holiday.<br/>
    </p>
    <h3>Holiday: <%= @holiday.name %>, date: <%= @holiday.date %></h3>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
